.register-wrapper,
.login-wrapper {
  @include account-management-wrapper;
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    input {
      padding: 0.6em;
      border: 0;
      border-bottom: 1px solid $text-color;
      background-color: transparent;
      color: $text-color;
      text-align: center;
      &::placeholder {
        color: $text-color;
      }
      &:focus {
        outline: none;
      }
    }
    .invalid-feedback {
      color: red;
    }
  }

  button {
    margin: 23% auto 0;
    display: block;
    padding: 1em;
    background-color: $text-color;
    border-radius: 0.6em;
  }
}
