.footer-wrapper {
  padding-top: 2em;
  .footer-icons-wrapper {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-bottom: 1em;
  }
  .footer-legals-wrapper {
    display: flex;
    flex-direction: column;
  }
}
