@mixin form-style {
  border-radius: 0.6em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.submit-btn {
  margin: 23% auto 0;
  display: block;
  padding: 1em;
  background-color: $text-color;
  border-radius: 0.6em;
  width: 40%;
  text-align: center;
}

#form-wrapper {
  flex: 1;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $accent-color;
  border-radius: 0.6em;
  height: 45vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .form-container {
    display: flex;
    transition: transform 0.5s ease;
  }

  .form1,
  .form2,
  .form3 {
    @include form-style;
    flex: 1 0 100%;
    align-items: center;
    position: relative;
    input {
      @include input-basic-style;
    }
  }

  .form1 {
    > div:nth-child(4) {
      display: flex;
      flex-direction: column;
    }
  }

  .form-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  .form-label {
    font-size: 10px;
  }
}

// Account management

.register-wrapper,
.login-wrapper {
  @include account-management-wrapper;
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;
    input {
      @include input-basic-style;
    }
    .invalid-feedback {
      color: red;
    }
  }

  .check-box-wrapper {
    @include center-and-size;
    label {
      font-size: 12px;
    }
  }

  #phoneNumberWrapper {
    margin-top: 1.2em;
  }
}

// Carpooling offer

#car_pooling_offer_seats_available {
  min-width: 100px;
}

.check-box-and-wrapper {
  text-align: center;
  label {
    font-size: 12px;
    width: 50%;
    display: inline-block;
  }
}
