// CSS Color Variables

[data-theme="light"] {
  --text-color: #202020;
  --alternative-text-color: #d0d0d0;
  --background-color: #ffffff;
  --primary-color: #86a53a;
  --accent-color: #a8a8a8;
}

[data-theme="dark"] {
  --text-color: #d0d0d0;
  --alternative-text-color: #3e3d3d;
  --background-color: #202020;
  --primary-color: #86a53a;
  --accent-color: #3e3d3d;
}

// @font-face {
//   font-family: "Lexend";
//   src: url("/assets/fonts/Lexend/static/Lexend-regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

.alert {
  color: red;
  font-family: "Lexend";
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

p,
a,
li,
h1,
h2,
h3,
h4,
label,
input,
::placeholder {
  color: var(--text-color);
  font-family: Lexend;
}

li {
  list-style: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h2 {
  font-size: 35px;
}

button,
.option,
textarea,
.item,
.ts-wrapper {
  font-family: "Lexend";
}

.flash,
.flash-success {
  text-align: center;
  width: 80%;
  margin: auto;
  p {
    background-color: rgba(168, 29, 29, 0.34);
    border-radius: 0.6em;
  }
}
