$text-color: #d3d3d3;
$background-color: #07090e;
$primary-color: #556b2f;
$secondary-color: #663422;
$accent-color: #3e3d3d;

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend/static/Lexend-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.alert {
  color: red;
  font-family: "Lexend";
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

p,
a,
li,
h1,
h2,
h3,
h4,
label,
input,
::placeholder {
  color: $text-color;
  font-family: Lexend;
}

h2 {
  font-size: 35px;
}

button,
.option,
.item {
  font-family: "Lexend";
}

.leaflet-top {
  z-index: 10 !important;
}

.my-map {
  width: 80%;
  height: 500px;
  position: relative;
  margin: auto;
  border-radius: 1.2em !important;
  overflow: hidden;
}

.leaflet-tile {
  max-width: 100% !important;
}

#events_save {
  color: $text-color;
  font-family: Lexend;
  @include add-buttons;
}

.return-button {
  @include add-buttons;
}

.basic-button {
  @include basic-button-style;
  margin-bottom: 1em;
}

#events_save {
  color: $text-color;
  font-family: Lexend;
  @include add-buttons;
}

.return-button {
  @include add-buttons;
}
