.highlight {
  color: $primary-color;
  text-decoration: underline;
}

h1 {
  margin: 1em 0 2em 0;
}

.main-title,
h2 {
  text-align: center;
}

// Map

.leaflet-control-attribution {
  display: none;
}

.leaflet-top {
  z-index: 10 !important;
}

.my-map {
  width: 80%;
  height: 500px;
  position: relative;
  margin: auto;
  border-radius: 1.2em !important;
  overflow: hidden;
}

.leaflet-tile {
  max-width: 100% !important;
}
// Links

.links-wrapper {
  margin: 1em 0 1em 0;
  text-decoration: none;
  @include basic-button-style;
  background-color: $accent-color;
  display: inline-block;
}

// Search bar

.search_bar-wrapper {
  @include center-and-size;
  .ts-control::after {
    display: none !important;
  }
}

// Carousel section
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 2em auto;
  border: 1px solid $text-color;
  border-radius: 0.6rem;
  margin-top: 2em;

  .carousel {
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    padding: 2em 0;

    .carousel-list {
      display: flex;
      transition: transform 0.3s ease-in-out;
      padding: 0;
      margin: 0;

      .carousel-item {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .carousel-control {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 5;
    color: $text-color;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    &:hover,
    &:focus {
      color: white;
      outline: none;
    }
  }
}

// Last events section

.events-list-wrapper {
  @include center-and-size;
  display: none;
  margin-bottom: 3em;
  ul {
    display: flex;
    flex-direction: column;

    .main-separator {
      background-color: white;
      width: 100%;
      display: block;
      height: 1px;
      margin-top: 2em;
    }
  }

  .events-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1em;
    ul {
      flex: 1;
      margin: 0;
      padding: 0;

      li {
        box-sizing: border-box;
      }
    }

    .events-column {
      width: 48%;
      box-sizing: border-box;

      .events-card {
        padding: 1em;
        white-space: nowrap;
      }
    }
  }
}

// Main cards section

#cards-section {
  margin: 3em 0;
}

.cards {
  padding: 1.5em;
  margin: 1em auto;
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;

  h3 {
    text-align: left;
    align-self: flex-start;
    margin-bottom: 1em;
    z-index: 20;
  }

  a {
    padding: 0.5em;
    background-color: $accent-color;
    border-radius: 0.6rem;
    display: inline-block;
    text-align: center;
    margin: auto 0 0;
    z-index: 20;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 0.5em;
  }

  &::before {
    z-index: 10;
    opacity: 0.6;
  }

  &::after {
    z-index: 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.54;
  }

  // Utilisation de @each pour les styles spécifiques aux enfants
  @each $index, $color,
    $image in (1, #556b2f, "/assets/img/army-picture-1.webp"),
    (2, #3e3d3d, "/assets/img/military-picture-2.webp"),
    (3, #663422, "/assets/img/military-picture-3.webp"),
    (4, #3d3d3e, "/assets/img/military-picture-4.webp")
  {
    &:nth-child(#{$index}) {
      &::before {
        background-color: $color;
      }

      &::after {
        background-image: url(#{$image});
      }
    }
  }
}

// Stat section

.stat-card {
  margin: auto;
  align-items: center;
  text-align: center;
  h3 {
    margin: 1em 0 0 0;
    padding: 0 1em;
  }

  p {
    font-weight: bold;
    font-size: 25px;
    margin: 1em 0 0 0;
  }
}

// Carpooling section

.carpooling-offers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  @include center-and-size;
  padding-top: 1em;
  .offer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $text-color;
    border-radius: 0.6rem;
    padding: 1em;
    h1 {
      font-size: 20px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.carpooling-offers-info-wrapper {
  flex: 1;
}

.carpooling-offers-btn {
  display: flex;
  flex-direction: column;
  margin: 1em auto 0 auto;
  width: 80%;

  a {
    text-align: center;
    background-color: $primary-color;
    text-decoration: none;
  }
}

.security-reminder {
  p {
    text-align: center;
  }
}

.return-button-wrapper {
  @include center-and-size;
}

// User section

.user-events,
.user-carpoolings-offers {
  margin-bottom: 1em;
  h1 {
    font-size: 25px;
  }

  .user-event-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    margin: auto;
    width: 80%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
  }
}

.user-event-card,
.user-carpooling-offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $text-color;
  border-radius: 0.6rem;
  padding: 1em;
  text-decoration: none;
  box-shadow: inset 0 0 10px #209400;
  ul {
    padding: 0;
    text-align: center;
    li {
      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

// CTA section

#cta-section {
  margin-bottom: 3em;
  text-align: center;
}

// Separators

.main-separator {
  text-align: center;
  display: block;
  margin: 1.5em auto;
  width: 80%;
  height: 2px;
  background-color: $text-color;
}

// Infos page

.infos-wrapper {
  flex: 1;
}
