$standard-width: 80%;
$standard-spacing: 1em;

.highlight {
  color: var(--primary-color);
  text-decoration: underline;
}

h1 {
  margin: $standard-spacing 0 2em 0;
}

.main-title,
h2 {
  text-align: center;
}

// Map

.leaflet-control-attribution {
  display: none;
}

.leaflet-top {
  z-index: 10 !important;
}

.my-map {
  width: $standard-with;
  height: 500px;
  position: relative;
  margin: auto;
  border-radius: 1.2em !important;
  overflow: hidden;
}

.leaflet-tile {
  max-width: 100% !important;
}
// Links

.links-wrapper {
  margin: $standard-spacing 0 $standard-spacing 0;
  text-decoration: none;
  @include basic-button-style;
  background-color: var(--accent-color);
  display: inline-block;
}

// Search bar

.search_bar-wrapper {
  @include center-and-size;
  .ts-control::after {
    display: none !important;
  }
}

// Carousel section
.carousel-wrapper {
  @include card-carousel-style(
    $width: $standard-width,
    $spacing: $standard-spacing,
    $border-radius: 0.6rem
  );
  border: 1px solid var(--text-color);

  .carousel {
    overflow: hidden;
    width: $standard-with;
    max-width: 800px;
    padding: 2em 0;

    .carousel-list {
      display: flex;
      transition: transform 0.3s ease-in-out;
      padding: 0;
      margin: 0;

      .carousel-item {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .carousel-control {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 5;
    color: var(--text-color);

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    &:hover,
    &:focus {
      color: white;
      outline: none;
    }
  }
}

// Last events section

.events-list-wrapper {
  @include center-and-size;
  display: none;
  margin-bottom: 3em;
  ul {
    @include flex-column;
    .main-separator {
      background-color: white;
      width: 100%;
      display: block;
      height: 1px;
      margin-top: 2em;
    }
  }

  .events-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: $standard-spacing;
    ul {
      flex: 1;
      margin: 0;
      padding: 0;

      li {
        box-sizing: border-box;
      }
    }

    .events-column {
      width: 48%;
      box-sizing: border-box;

      .events-card {
        padding: $standard-spacing;
        white-space: nowrap;

        a {
          text-decoration: none;
          @include link-hover-animation(var(--primary-color));
        }
      }
    }
  }
}

.event-info-wrapper {
  margin: auto;
}

.event-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    padding: 1em;
  }
}

// Main cards section

#cards-section {
  margin: 3em 0;
}

.cards {
  padding: 1.5em;
  height: 20%;
  @include card-carousel-style(
    $width: $standard-width,
    $spacing: $standard-spacing,
    $border-radius: 0.5em
  );
  @include flex-column;
  align-items: center;
  justify-content: center;

  h3 {
    align-self: flex-start;
    margin-bottom: $standard-spacing;
    z-index: 20;
  }

  a {
    padding: 0.5em;
    background-color: var(--accent-color);
    border-radius: 0.6rem;
    display: inline-block;
    text-align: center;
    margin: auto 0 0;
    z-index: 20;
  }

  &::before {
    @include pseudo-element(10, 0.6);
  }
  &::after {
    @include pseudo-element(5, 0.54);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @each $index, $color in (1, #556b2f), (2, #3e3d3d), (3, #663422), (4, #3d3d3e)
  {
    &:nth-child(#{$index}) {
      &::before {
        background-color: $color;
      }
      &::after {
        background-image: url("/assets/img/military-picture-#{$index}.webp");
      }
    }
  }
}

// Stat section

.stat-card {
  margin: auto;
  align-items: center;
  text-align: center;
  h3 {
    margin: $standard-spacing 0 0 0;
    padding: 0 $standard-spacing;
  }

  p {
    font-weight: bold;
    font-size: 25px;
    margin-top: $standard-spacing;
  }
}

// Carpooling section

.carpooling-offers-wrapper {
  @include flex-column;
  gap: $standard-spacing;
  @include center-and-size;
  padding-top: $standard-spacing;
  .offer-wrapper {
    @include flex-column;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 0.6rem;
    padding: $standard-spacing;
    h1 {
      font-size: 20px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.carpooling-offers-info-wrapper {
  flex: 1;
}

.carpooling-offers-btn {
  @include flex-column;
  margin: $standard-spacing auto 0 auto;
  width: $standard-with;
  a {
    text-align: center;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--background-color);
  }
}

.security-reminder {
  p {
    text-align: center;
  }
}

// User section

.user-events,
.user-carpoolings-offers {
  margin-bottom: $standard-spacing;
  h1 {
    font-size: 25px;
  }
}

.scrollable-event-card {
  @include flex-column;
  gap: $standard-spacing;
  margin-bottom: $standard-spacing;
  margin: auto;
  width: $standard-with;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}

.user-event-card,
.user-carpooling-offer-card {
  @include flex-column;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 0.6rem;
  padding: $standard-spacing;
  text-decoration: none;
  box-shadow: inset 0 0 10px #209400;
  ul {
    padding: 0;
    text-align: center;
    li {
      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

// CTA section

#cta-section {
  margin-bottom: 3em;
  text-align: center;
}

// Separators

.main-separator {
  text-align: center;
  display: block;
  margin: 1.5em auto;
  width: $standard-with;
  height: 2px;
  background-color: var(--text-color);
}

// Infos page

.infos-wrapper {
  flex: 1;
}

// About / Contact page
.about-contact-wrapper {
  @include center-and-size;
}

// Buttons

.return-button-wrapper {
  @include center-and-size;
}

.basic-button {
  @include basic-button-style;
  margin-top: 0.5em;
  display: inline-block;
}

.basic-button-2 {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 0.6em;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  padding: 0.3em;
  text-align: center;
  margin: $standard-spacing 0;
}

.basic-button,
.basic-button-2,
.submit-btn {
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px adjust-color(#d3d3d3, $lightness: 10%);
  }
}

#events_save {
  color: var(--text-color);
  font-family: Lexend;
  @include add-buttons;
}
