.highlight {
  color: $primary-color;
}

h1 {
  margin-top: 15%;
}

.see-button {
  text-decoration: none;
  font-weight: bold;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  margin: 20px auto;
}

.carousel {
  overflow: hidden;
  width: 80%;
  max-width: 800px;
}

.carousel-list {
  display: flex;
  transition: transform 0.3s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.carousel-control {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
  z-index: 10;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

.carousel-control:focus {
  outline: none;
}
