@media (min-width: 768px) {
  .ham-menu {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    nav {
      display: flex;
    }
  }

  .events-list-wrapper {
    display: block;
  }
  .carousel-wrapper {
    display: none;
  }

  h1 {
    font-size: 70px;
    line-height: 2em;
  }

  .form-title {
    font-size: 50px;
  }

  .events-column {
    .events-card {
      &:nth-child(even) {
        background-color: $accent-color;
      }
    }
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include center-and-size;
    align-items: center;
    gap: 2em;
    .cards {
      width: 100%;
      height: 100%;
      gap: 0em;
    }
  }

  .register-wrapper,
  .login-wrapper {
    width: 35%;
  }

  .carpooling-offers-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .carpooling-offers-btn {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .nav-logo {
    width: 160px !important;
    top: -54px !important;
  }
}
