$standard-with: 80%;
$standard-spacing: 1em;

@mixin round-border {
  border-radius: 0.6em;
  padding: 0.3em;
}

@mixin basic-button-style {
  @include round-border;
  border: 1px solid $text-color;
  border-radius: 0.6em;
}

@mixin add-buttons {
  @include basic-button-style;
  margin-top: 1em;
  display: inline-block;
  background-color: transparent;
  font-size: medium;
}

@mixin link-hover-animation($color) {
  box-shadow: inset 0 0 0 0 $color;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: inset 200px 0 0 0 $primary-color;
    color: $background-color;
  }
}

@mixin account-management-wrapper {
  flex: 1;
  background-color: $accent-color;
  padding: 1em;
  width: 80%;
  margin: 10% auto;
  text-align: center;
  border-radius: 0.6em;
  h1 {
    margin: 0;
    font-size: 40px;
  }
  form {
    margin-top: 1em;
  }
}

@mixin input-basic-style {
  padding: 0.6em;
  border: 0;
  border-bottom: 1px solid $text-color;
  background-color: transparent;
  color: $text-color;
  text-align: center;
  &::placeholder {
    color: $text-color;
  }
  &:focus {
    outline: none;
  }
}

@mixin center-and-size {
  margin: auto;
  width: 80%;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin pseudo-element($z-index, $opacity: 1) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index;
  border-radius: 0.5em;
  opacity: $opacity;
}

@mixin card-carousel-style(
  $width: $standard-width,
  $spacing: $standard-spacing,
  $border-radius: 0.5em
) {
  width: $width;
  margin: $spacing auto;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
