{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>{{"reset.account.instructions"|trans}}</p>
        {{ 'reset.account.time.left'|trans({'%time-left%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) }}
    <p>
        {{ 'reset.account.resend.email'|trans({'%try_again_link%': '<a href="' ~ path('app_forgot_password_request') ~ '">' ~ 'reset.account.try_again'|trans ~ '</a>'})|raw }}
    </p>

{% endblock %}
