/* Error: Undefined variable.
 *    ,
 * 34 |   background-color: $background-color;
 *    |                     ^^^^^^^^^^^^^^^^^
 *    '
 *   assets\styles\scss\global.scss 34:21  @import
 *   assets\styles\scss\app.scss 2:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 34 \2502    background-color: $background-color;\d\a    \2502                      ^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\styles\\scss\\global.scss 34:21  @import\a   assets\\styles\\scss\\app.scss 2:9       root stylesheet";
}
